@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;   
   
}

html {
    background-color: #fafafa;
}

#fundo {
    background-image: url("../img/bg-intro.jpg");
    min-height: 600px;
    max-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

nav {
    padding: 20px 0 20px 0;
    background: rgba(0, 0, 0, 0.767);
    width: 100%;
    -webkit-box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 16px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
    display: inline-flex;
    float: right;
    list-style: none;
}

nav ul li::after {
    content: '';
    background: #e2e0da;
    width: 0;
    height: 5px;
    display: block;
    transition: 0.8s;
}

nav ul li:hover::after {
    width: 100%;
}

li {
    margin: 0px 20px;
    font-size: 1.25em;
    color: #fff;
}

a {
    text-decoration: none;
}

#centro {
    padding: 0px 10%;
}

/*Menu Transformacao*/
@media (max-width: 823px) {
    #centro{
        text-align: center;
        padding: 0px;
    }
    nav ul{
        float: none;
    }
}

@media (max-width: 500px) {    
    nav ul{
        display: block;
    }
    li{
        
    }
    .locais-item>div {     
        float: none!important;
        margin: 0 5px!important;
    }
    .assine-info {
        width: unset!important;       
    }
    .assine form, .assine input {
        width: auto!important;        
    }
}

#fundo h5 {
    text-align: center;
    font-size: 1.2em;
    color: rgba(207, 23, 23, 0.795);
    text-transform: capitalize;
}

#fundo h1 {
    text-align: center;
    color: #fff;
    font-size: 3em;
    padding-top: 10%;
    text-transform: uppercase;
}

#fundo h1::after {
    content: '';
    background-color: #fff;
    width: 23px;
    height: 5px;
    display: block;
    margin: 12px auto;
}

.retangulo_f {
    margin: 40px 10px;
    width: 38%;
    height: 280px;
    display: inline-block;
    -webkit-box-shadow: 10px 11px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 21px -12px rgba(0, 0, 0, 0.75);
}

#foto1 {
    background-image: url("../img/cafe-1.jpg");
    /* Full height */
    height: 280px;
    min-width: 180px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#foto2 {
    background-image: url("../img/cafe-2.jpg");
    /* Full height */
    height: 280px;
    min-width: 180px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#descricao {
    text-align: center;
}

#descricao h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sub {
    background: rgba(22, 22, 22, 0.979);
    color: #fff;
    padding: 10px;
    margin-top: 250px;
    font-family: serif;
    width: 180px;
    font-size: 2em;
    transition: transform .9s;
}

.sub:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-center {
    font-size: 1.125em;
    line-height: 1.4em;
    text-align: center;
    margin: 70px auto;
    max-width: 70%;
}

.text-center div {
    width: 40%;
    margin: 0px auto;
    text-align: center
}

.clear::after,
.clear::before {
    content: '';
    display: table;
    clear: both;
}

#carioca::before {
    background-color: #c17139;
}

#paulista::before {
    background-color: #492901;
}

#mineiro::before {
    background-color: #d7a54d;
}

.col-auto h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 20px;
    border: 12px double #e2e0da;
}

#botao {
    font-size: 1.2em;
    padding: 14px;
    background-color: rgba(100, 148, 237, 0.651);
    border: 2px solid rgb(36, 78, 192);
}

#botao:hover {
    color: rgb(240, 238, 238);
    background-color: rgba(39, 40, 43, 0.651);
    border: 2px solid rgb(228, 229, 235);
}

#final {
    margin-top: 67px;
    text-align: center;
    height: 34px;
    background-color: #e2e0da;
}

@media(max-width: 960) {}

@media(max-width: 651) {
    #centro {
        padding: None;
    }
    #centro img {
        width: 130px;
    }
    nav ul {
        display: block;
        list-style: none;
    }
}

@media(max-width: 300) {}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*Atualizacoes*/

.sdk {
    min-height: 450px;
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.sdk h2 {
    text-align: center;
}

.col-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.center {   
    text-align: center;
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/*Quando maior que:*/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        display: inline-flex;
    }
    .col-auto {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        /* max-width: 33.333333%; */
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }    
}


/*Quando menor que:*/
@media (max-width: 768px) {
    .retangulo_f {
        margin: 40px auto;
        width: 38%;
        height: 280px;
        display: flow-root;
        -moz-box-shadow: 10px 11px 21px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 11px 21px -12px rgba(0, 0, 0, 0.75);
    }
    .col-auto {
        position: relative;
        width: 70%;
        margin: 0 auto;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .sub{
        width: unset;
    }

    .text-center div {
        width: 70%;     
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.locais {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: Georgia, serif;
}

.locais-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item>div {
    width: 460px;
    float: right;
    margin: 0 10px;
}

div {
    display: block;
}

.locais-item {
    clear: both;
    margin: 60px auto;
}

.locais-item::after,
.locais-item::before {
    display: table;
    content: '';
    clear: both;
}

.locais-item::after,
.locais-item::before {
    display: table;
    content: '';
    clear: both;
}

.footer {
    background: #d6d3c8;
    padding: 40px 0;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

.footer-container::after,
.footer-container::before {
    content: '';
    display: table;
    clear: both;
}

.footer-container::after,
.footer-container::before {
    content: '';
    display: table;
    clear: both;
}

.footer p {
    float: left;
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
    font-family: Georgia, serif;
}

.footer img {
    float: right;
    margin: 0 10px;
    display: block;
}

.assine {
    background: #e7e4d8;
    padding: 30px 0;
}

.assine-info h3 {
    font-size: 2.25em;
    margin: 0px;
    padding: 0px;
}

.assine-info p {
    font-size: 1.5em;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    display: block;
}

.assine input {
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
    float: left;
}

.assine-info {
    width: 460px;
    margin: 0 10px;
    float: left;
}

.assine button {
    background: #252525;
    border: none;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 114px;
    padding: 13px 0;
    color: #fff;
    cursor: pointer;
}

.assine-container {
    max-width: 960px;
    margin: 0 auto;
}

.assine-container::after,
.assine-container::before {
    content: '';
    display: table;
    clear: both;
}

.assine-container::after,
.assine-container::before {
    content: '';
    display: table;
    clear: both;
}

.assine form {
    width: 460px;
    margin: 10px 10px 0 10px;
    float: left;
}

.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #252525;
    color: #252525;
    padding: 10px 20px;
    transition: 0.3s;
}

.locais-item a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}

a.icon {
    color: white;
    margin-top: 20px;
    visibility: hidden;
    font-size: 1.5em;
}

